.container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
  height: 100px;
}
.btn1 {
  background-color: aquamarine;
  width: 48%;
}

a {
  text-decoration: none;
  color: black;
  font-size: 50px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
}
#form input {
  padding: 5px;
  margin: 0 0 5px 15px;
}
.cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.cards img:nth-last-child(1) {
  width: 50%;
}
